In [30]:
import pyarrow.parquet as pq
import json
import pandas as pd 

# Read the parquet file
table_train = pq.read_table('train.parquet')
# Convert to a dictionary
data_train = table_train.to_pydict()

data_train = pd.DataFrame(data_train)

display(data_train.head())
data_train.shape

                                              review  label
0  Si vous cherchez du cinéma abrutissant à tous ...      0
1  Trash, re-trash et re-re-trash...! Une horreur...      0
2  Et si, dans les 5 premières minutes du film, l...      0
3  Mon dieu ! Quelle métaphore filée ! Je suis ab...      0
4  Premier film de la saga Kozure Okami, "Le Sabr...      1

(160000, 2)

In [27]:
train = data_train.sample(32,random_state=2280) # as in the paper, the train data is made out of 32 examples from the train data
train['idx'] = train.index #they also use an idx column in their train data
train.to_csv("train.csv", index=False)
display(train)
train.shape

                                                   review  label     idx
34518   D'Emmanuel Bourdieu, je n'avais vu que le louf...      1   34518
75970   Une suite qui est très loin d'égalé le premier...      0   75970
119994  c'est une merveille ! la réalisatrice donne ic...      1  119994
140     Bande-son au top pour ce petit film indépendan...      1     140
55095   Un 5 pour rattraper les autres notes, beaucoup...      1   55095
30527                               Ce film est juste....      0   30527
146718  Show TV assez ironique se moquant du condition...      0  146718
41375   Bien avant le fabuleux Everest, il y eu le cat...      0   41375
114253  Un excellent film fantastique de J.J Abrams av...      1  114253
28852   On aurait pu avoir un film à l'absurde jubilat...      0   28852
17856   Très bonne surprise. Tout est juste, le propos...      1   17856
151475  Vraiment superbe film avec une belle brochette...      1  151475
92758   S'il faut voir au-delà du délire sur le cannib...      0   92758
65489   Belle chronique familiale particulièrement bie...      1   65489
125676  film beaucoup trop prévisible, incroyablement ...      0  125676
80439   Chaque scène est vue et revue, on a une multit...      0   80439
32264   très jolie film de beaux cadre, de la belle mu...      1   32264
136804  Je viens d'aller voir ce film. Une catastrophe...      0  136804
23789   Un film d'une intense médiocrité ! Un Benoit P...      0   23789
41228   Effets spéciaux sortis tout droit d'un (mauvai...      0   41228
148567  Ce classique est vraiment de bonne tenue. Film...      1  148567
13161   "Meurtres à Carcassonne" (2014) France 3 le 12...      0   13161
63402   Un ton hors-norme, une mise en scène originale...      1   63402
125962  Plusieurs portraits de femmes d'aujourd'hui, f...      1  125962
89604   Dolores Claiborne : Un drame d’une puissance é...      1   89604
16979   Film difficile à suivre, à cause des sous-titr...      0   16979
105092  Un film excellent qui est un peut similaire au...      1  105092
98856   Magnifique et triste. L'océan à la fois mervei...      1   98856
49747   beau film, réalisé académiquement mais de faco...      1   49747
78508   Une étoile pour Guillaume Gallienne est tant q...      0   78508
38034   Les Experts en Arabie Saoudite... Le film pour...      1   38034
75958   Un film tellement insignifiant qu'il m'a fallu...      0   75958

(32, 3)

In [21]:
train_test = pd.read_csv("train.csv") # ok it is reading it correctly.
train_test

                                               review  label     idx
0   D'Emmanuel Bourdieu, je n'avais vu que le louf...      1   34518
1   Une suite qui est très loin d'égalé le premier...      0   75970
2   c'est une merveille ! la réalisatrice donne ic...      1  119994
3   Bande-son au top pour ce petit film indépendan...      1     140
4   Un 5 pour rattraper les autres notes, beaucoup...      1   55095
5                               Ce film est juste....      0   30527
6   Show TV assez ironique se moquant du condition...      0  146718
7   Bien avant le fabuleux Everest, il y eu le cat...      0   41375
8   Un excellent film fantastique de J.J Abrams av...      1  114253
9   On aurait pu avoir un film à l'absurde jubilat...      0   28852
10  Très bonne surprise. Tout est juste, le propos...      1   17856
11  Vraiment superbe film avec une belle brochette...      1  151475
12  S'il faut voir au-delà du délire sur le cannib...      0   92758
13  Belle chronique familiale particulièrement bie...      1   65489
14  film beaucoup trop prévisible, incroyablement ...      0  125676
15  Chaque scène est vue et revue, on a une multit...      0   80439
16  très jolie film de beaux cadre, de la belle mu...      1   32264
17  Je viens d'aller voir ce film. Une catastrophe...      0  136804
18  Un film d'une intense médiocrité ! Un Benoit P...      0   23789
19  Effets spéciaux sortis tout droit d'un (mauvai...      0   41228
20  Ce classique est vraiment de bonne tenue. Film...      1  148567
21  "Meurtres à Carcassonne" (2014) France 3 le 12...      0   13161
22  Un ton hors-norme, une mise en scène originale...      1   63402
23  Plusieurs portraits de femmes d'aujourd'hui, f...      1  125962
24  Dolores Claiborne : Un drame d’une puissance é...      1   89604
25  Film difficile à suivre, à cause des sous-titr...      0   16979
26  Un film excellent qui est un peut similaire au...      1  105092
27  Magnifique et triste. L'océan à la fois mervei...      1   98856
28  beau film, réalisé académiquement mais de faco...      1   49747
29  Une étoile pour Guillaume Gallienne est tant q...      0   78508
30  Les Experts en Arabie Saoudite... Le film pour...      1   38034
31  Un film tellement insignifiant qu'il m'a fallu...      0   75958

In [32]:
unlabeled=data_train.drop(train.index)
unlabeled['idx'] =unlabeled.index
unlabeled = unlabeled.sample(10000,random_state=2280) # the unlabled data would be of 159968 which is too large by a factor 10
unlabeled.drop(['label'], axis=1, inplace=True) # fron the train data set the unlabeled dataset is created by removing the label
unlabeled.to_csv('unlabeled.csv', index=False)
display(unlabeled.head())
unlabeled.shape

                                                   review     idx
76359   Aujourd'hui soit on y va à fond avec les patho...   76359
27346   Gentil téléfilm à regarder en famille en atten...   27346
78070   Un personnage féminin complexe et une trame ha...   78070
101595  1h15mn de pure bonheur, un bon choix de musiqu...  101595
91441   zzzzzzzzzzzzzzzz...Film ultra-lent, malheureus...   91441

(10000, 2)

# Creation of the validation dataset

In [34]:
# Read the parquet file
table_val = pq.read_table('val.parquet')
# Convert to a dictionary
data_val = table_val.to_pydict()

data_val = pd.DataFrame(data_val)

display(data_val.head())
data_val.shape #once again the data set is loo large we will select onlly 3000

                                              review  label
0  Ce film est tout ce qu'il y a de plus sympa. M...      0
1  The Wall a été réalisé par Alan Parker (Fame, ...      1
2  Encore un film majeur tres mal distribué, comm...      1
3  L'idée est très bonne mais le film manque de r...      0
4  Un petit nanar rigolo a regarder. A voir une f...      0

(20000, 2)

In [35]:
val = data_val.sample(3000,random_state=2280) # as in the paper, the train data is made out of 32 examples from the train data
val['idx'] = val.index #they also use an idx column in their train data
val.to_csv("val.csv", index=False)
display(val)
val.shape

                                                  review  label    idx
346    j'demande pas la lune, juste quelques étoiles ...      1    346
5884   Bryan Singer est un réalisateur dont la filmog...      1   5884
2669   Un remake où une absurdité du réalisateur de v...      0   2669
444    Petit mélodrame inoffensif qui doit le peu d'i...      0    444
10530  Le chef d'oeuvre sulfureux et démoniaques de S...      1  10530
...                                                  ...    ...    ...
14246  24H DANS LA VIE D'UN COUPLE. En s'essayant à l...      0  14246
1186   Chevalier, Chevalier, Chevalier... Je ne sais ...      1   1186
10783  rien a voir avec le premier les effets numeriq...      0  10783
8240   Une très belle leçon de vie ! Un film qui perm...      1   8240
3040   Histoire déjà vue mais surtout plombé par des ...      0   3040

[3000 rows x 3 columns]

(3000, 3)

# Creation of the test dataset

In [37]:
# Read the parquet file
table_test = pq.read_table('test.parquet')
# Convert to a dictionary
data_test = table_val.to_pydict()

data_test = pd.DataFrame(data_test)

display(data_test.head())
data_test.shape #once again the data set is loo large we will select only 3000 just as the val

                                              review  label
0  Ce film est tout ce qu'il y a de plus sympa. M...      0
1  The Wall a été réalisé par Alan Parker (Fame, ...      1
2  Encore un film majeur tres mal distribué, comm...      1
3  L'idée est très bonne mais le film manque de r...      0
4  Un petit nanar rigolo a regarder. A voir une f...      0

(20000, 2)

In [38]:
test = data_test.sample(3000,random_state=2280) # as in the paper, the train data is made out of 32 examples from the train data
test['idx'] = test.index #they also use an idx column in their train data
test.to_csv("test.csv", index=False)
display(test)
test.shape

                                                  review  label    idx
346    j'demande pas la lune, juste quelques étoiles ...      1    346
5884   Bryan Singer est un réalisateur dont la filmog...      1   5884
2669   Un remake où une absurdité du réalisateur de v...      0   2669
444    Petit mélodrame inoffensif qui doit le peu d'i...      0    444
10530  Le chef d'oeuvre sulfureux et démoniaques de S...      1  10530
...                                                  ...    ...    ...
14246  24H DANS LA VIE D'UN COUPLE. En s'essayant à l...      0  14246
1186   Chevalier, Chevalier, Chevalier... Je ne sais ...      1   1186
10783  rien a voir avec le premier les effets numeriq...      0  10783
8240   Une très belle leçon de vie ! Un film qui perm...      1   8240
3040   Histoire déjà vue mais surtout plombé par des ...      0   3040

[3000 rows x 3 columns]

(3000, 3)